@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Portfolio_View.Models
@page "/items/{id:int}"

@if (item is null)
{
    <p>読み込み中</p>
}
else
{
    @switch (current)
    {
        case displayState.Detail:
            <p> アイテム名：@item.Name </p>
            <p> 価格：@item.Price.ToString("N0") </p>
            <p>交換頻度：@(item.Ticks is null ? "-" : item.SwapFrequency?.TotalDays.ToString() + "日") </p>
            <p>カテゴリ</p>
            @if (item.Categories is null || item.Categories.Count == 0)
            {
                <p> なし </p>
            }
            else
            {
                <ul>
    @foreach (var cat in item.Categories)
                    {
                        <li>
                            <p><a href="categories/@cat.CategoryId">@cat.Name</a></p>
                        </li>
                    }
                </ul>
            }
            <p> 最終交換日：@(item.LastSwapDate?.ToString("yyyy年MM月dd日") ?? "なし") </p>
            <p> 交換予定日：@(item.SwapExpectedDate?.ToString("yyyy年MM月dd日") ?? "なし") </p>
            <p>交換履歴</p>
            <ul>
    @foreach (var ev in item.Events!.OrderByDescending(e => e.Date))
                {
                    <li> <a href="events/@(ev.EventId)">@ev.Date.ToShortDateString()</a> </li>
                }
            </ul>
            <p>
                <button class="btn eventAddbtn" @onclick=@(()=>current=displayState.EventAddition)>イベント追加</button>
            </p>
            <p>
                <button class="btn editbtn" @onclick=@(()=>current=displayState.ItemEdit)>アイテム編集</button>
            </p>

            <p>
                <button class="btn deletebtn" @onclick="OnClickDeleteButton">アイテム削除</button>
            </p>

            <p><a href="items">アイテム一覧に戻る</a></p>
            break;

        case displayState.ItemEdit:
            <ItemEdit item="@item" CallBack="@ItemEditExecution" />
            break;
        case displayState.EventAddition:
            <EventAddition CallBack="@EventAddExecution" />
            break;
    }
}

@code {
    [Parameter]
    public int id { get; set; }

    private Item? item;
    private displayState current = displayState.Detail;

    protected override async Task OnInitializedAsync() =>
    item = await Http.GetFromJsonAsync<Item>($"item/{id}");

    private void ItemEditExecution(Item? _item)
    {
        if (_item is not null)
        {
            Http.PutAsJsonAsync($"item/{id}", _item);
        }
        current = displayState.Detail;
        this.StateHasChanged();
    }
    private async Task EventAddExecution(Event? _event)
    {
        if (_event is not null)
        {
            await Http.PostAsJsonAsync($"item/{id}/event", _event);
            item!.Events!.Add(_event);
        }
        current = displayState.Detail;
        this.StateHasChanged();
    }

    private async Task OnClickDeleteButton()
    {
        await Http.DeleteFromJsonAsync<Item>($"item/{id}");
        NavigationManager.NavigateTo("items");
    }


    private enum displayState
    {
        Detail,
        ItemEdit,
        EventAddition
    }
}